.score {
  font-size: 60px;
  text-align: center;
}

.faller {
  position: fixed;
  height: 5%;
  aspect-ratio: 1 / 1;
  top: 0;
  padding: 20px;

  animation: falling-faller 10s ease-in-out infinite;
}

@keyframes falling-faller {
  0% {top: -5%}
  100% {top:100%}
}